:root {
  /* Dark Theme */
  --dark-body-bg: hsl(222, 26%, 31%);
  --dark-body-color: #fff;

  --dark-theme-selection-bg: hsl(223, 31%, 20%);
  --dark-theme-selection-indicator-color: hsl(6, 63%, 50%);
  --dark-calc-display-bg: hsl(224deg 35% 15%);

  --dark-calc-btns-bg: hsl(225deg 30% 21%);

  --dark-calc-btn-bg: hsl(32deg 26% 89%);
  --dark-calc-btn-border: hsl(16deg 10% 63%);
  --dark-calc-btn-color: hsl(231deg 11% 34%);
  --dark-calc-secondary-btns-bg: hsl(224deg 21% 50%);
  --dark-calc-secondary-btns-border: hsl(226deg 28% 37%);
  --dark-calc-btn-equalTo-bg: hsl(6deg 64% 50%);
  --dark-calc-btn-equalTo-border: hsl(6deg 71% 34%);
  --dark-calc-btn-equalTo-color: #fff;

  /* Light Theme */
  --light-body-bg: hsl(0, 0%, 90%);
  --light-body-color: hsl(60deg 9% 19%);

  --light-theme-selection-bg: hsl(0deg 6% 82%);
  --light-theme-selection-indicator-color: hsl(26deg 99% 38%);
  --light-calc-display-bg: hsl(0deg 0% 93%);

  --light-calc-btns-bg: hsl(0deg 6% 82%);

  --light-calc-btn-bg: hsl(32deg 26% 89%);
  --light-calc-btn-border: hsl(16deg 10% 63%);
  --light-calc-btn-color: hsl(231deg 11% 34%);
  --light-calc-secondary-btns-bg: hsl(184deg 42% 37%);
  --light-calc-secondary-btns-border: hsl(186deg 58% 25%);
  --light-calc-btn-equalTo-bg: hsl(25deg 99% 39%);
  --light-calc-btn-equalTo-border: hsl(25deg 100% 27%);
  --light-calc-btn-equalTo-color: #fff;

  /* Custom Theme */
  --custom-body-bg: hsl(268deg 75% 9%);
  --custom-body-color: hsl(51deg 100% 63%);

  --custom-theme-selection-bg: hsl(269deg 74% 12%);
  --custom-theme-selection-indicator-color: hsl(176deg 100% 44%);
  --custom-calc-display-bg: var(--custom-theme-selection-bg);

  --custom-calc-btns-bg: var(--custom-theme-selection-bg);

  --custom-calc-btn-bg: hsl(269deg 48% 20%);
  --custom-calc-btn-border: hsl(289deg 67% 37%);
  --custom-calc-btn-color: var(--custom-body-color);
  --custom-calc-secondary-btns-bg: hsl(280deg 89% 26%);
  --custom-calc-secondary-btns-border: hsl(286deg 91% 52%);
  --custom-calc-btn-equalTo-bg: hsl(176deg 100% 44%);
  --custom-calc-btn-equalTo-border: hsl(177deg 90% 70%);
  --custom-calc-btn-equalTo-color: var(--custom-body-bg);
}

.dark-theme {
  --body-bg: var(--dark-body-bg);
  --body-color: var(--dark-body-color);

  --theme-selection-bg: var(--dark-theme-selection-bg);
  --theme-selection-indicator-color: var(
    --dark-theme-selection-indicator-color
  );
  --calc-display-bg: var(--dark-calc-display-bg);

  --calc-btns-bg: var(--dark-calc-btns-bg);

  --calc-btn-bg: var(--dark-calc-btn-bg);
  --calc-btn-border: var(--dark-calc-btn-border);
  --calc-btn-color: var(--dark-calc-btn-color);
  --calc-secondary-btns-bg: var(--dark-calc-secondary-btns-bg);
  --calc-secondary-btns-border: var(--dark-calc-secondary-btns-border);
  --calc-btn-equalTo-bg: var(--dark-calc-btn-equalTo-bg);
  --calc-btn-equalTo-border: var(--dark-calc-btn-equalTo-border);
  --calc-btn-equalTo-color: var(--dark-calc-btn-equalTo-color);

}
.light-theme {
  --body-bg: var(--light-body-bg);
  --body-color: var(--light-body-color);

  --theme-selection-bg: var(--light-theme-selection-bg);
  --theme-selection-indicator-color: var(
    --light-theme-selection-indicator-color
  );
  --calc-display-bg: var(--light-calc-display-bg);

  --calc-btns-bg: var(--light-calc-btns-bg);

  --calc-btn-bg: var(--light-calc-btn-bg);
  --calc-btn-border: var(--light-calc-btn-border);
  --calc-btn-color: var(--light-calc-btn-color);
  --calc-secondary-btns-bg: var(--light-calc-secondary-btns-bg);
  --calc-secondary-btns-border: var(--light-calc-secondary-btns-border);
  --calc-btn-equalTo-bg: var(--light-calc-btn-equalTo-bg);
  --calc-btn-equalTo-border: var(--light-calc-btn-equalTo-border);
  --calc-btn-equalTo-color: var(--light-calc-btn-equalTo-color);
}

.custom-theme {
  --body-bg: var(--custom-body-bg);
  --body-color: var(--custom-body-color);

  --theme-selection-bg: var(--custom-theme-selection-bg);
  --theme-selection-indicator-color: var(
    --custom-theme-selection-indicator-color
  );
  --calc-display-bg: var(--custom-calc-display-bg);

  --calc-btns-bg: var(--custom-calc-btns-bg);

  --calc-btn-bg: var(--custom-calc-btn-bg);
  --calc-btn-border: var(--custom-calc-btn-border);
  --calc-btn-color: var(--custom-calc-btn-color);
  --calc-secondary-btns-bg: var(--custom-calc-secondary-btns-bg);
  --calc-secondary-btns-border: var(--custom-calc-secondary-btns-border);
  --calc-btn-equalTo-bg: var(--custom-calc-btn-equalTo-bg);
  --calc-btn-equalTo-border: var(--custom-calc-btn-equalTo-border);
  --calc-btn-equalTo-color: var(--custom-calc-btn-equalTo-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  counter-reset: theme-counter;
}

body {
  font-family: Spartan, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.app-calc {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-calc__container {
  min-width: 350px;
  max-width: 90%;
}

.app-calc__header,
.app-calc__header-themes {
  display: flex;
  align-items: center;
}

.app-calc__header {
  justify-content: space-between;
}

.app-calc__header__label {
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 2em;
  margin-bottom: 0;
}
.app-calc__theme-selection {
  background-color: var(--theme-selection-bg);
  border-radius: 10px;
  padding: 0 5px;
}
.app-calc__theme-selection label {
  position: relative;
  top: -22px;
  margin: 0 4px;
  font-size: 0.6em;
  font-weight: 600;
  counter-reset: sub-counter;
}

.app-calc__theme-selection label::before {
  counter-increment: theme-counter;
  content: counter(theme-counter);
}

.app-calc__theme-selection label::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: -4px;
  width: 12px;
  height: 12px;
  background-color: var(--theme-selection-indicator-color);
  border-radius: 50%;
  /* visibility: hidden; */
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s;
}
.app-calc__theme-selection input[type="radio"] {
  display: none;
}

.app-calc__theme-selection input[type="radio"]:checked + label::after {
  visibility: visible;
  opacity: 1;
}

.app-calc__display {
  background-color: var(--calc-display-bg);
  height: 80px;
  border-radius: 8px;
  margin: 1em 0;
  padding: 1.5em;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-calc__display-output {
  font-size: 32px;
  font-weight: 600;
}

.app-calc__btns {
  background-color: var(--calc-btns-bg);
  padding: 1.5em;
  border-radius: 8px;
}
.app-calc__btn {
  background-color: var(--calc-btn-bg);
  border: 0;
  border-bottom: 3px solid var(--calc-btn-border);
  border-radius: 6px;
  padding: 15px 15px 10px;
  color: var(--calc-btn-color);
  font-family: inherit;
  font-size: 20px;
  line-height: 18px;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
}
.app-calc__btn:active {
  border-bottom: 3px solid transparent;
  transform: translateY(1px);
}

.app-calc__btns__regular,
.app-calc__btns__lg {
  display: grid;
  gap: 1em;
}

.app-calc__btns__regular {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.app-calc__btns__lg {
  margin-top: 1em;
  grid-template-columns: 1fr 1fr;
}

.btn__del,
.btn__reset,
.btn__equalTo {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn__del,
.btn__reset {
  background-color: var(--calc-secondary-btns-bg);
  border-bottom-color: var(--calc-secondary-btns-border);
}

.btn__equalTo {
  background-color: var(--calc-btn-equalTo-bg);
  border-bottom-color: var(--calc-btn-equalTo-border);
  color: var(--calc-btn-equalTo-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1em;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --body-bg: hsl(222, 26%, 31%);
    --body-color: #fff;

    --theme-selection-bg: hsl(223, 31%, 20%);
    --theme-selection-indicator-color: hsl(6, 63%, 50%);
    --calc-display-bg: hsl(224deg 35% 15%);

    --calc-btns-bg: hsl(225deg 30% 21%);

    --calc-btn-bg: hsl(32deg 26% 89%);
    --calc-btn-border: hsl(16deg 10% 63%);
    --calc-btn-color: hsl(231deg 11% 34%);
    --calc-secondary-btns-bg: hsl(224deg 21% 50%);
    --calc-secondary-btns-border: hsl(226deg 28% 37%);
    --calc-btn-equalTo-bg: hsl(6deg 64% 50%);
    --calc-btn-equalTo-border: hsl(6deg 71% 34%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --body-bg: hsl(0, 0%, 90%);
    --body-color: hsl(60deg 9% 19%);

    --theme-selection-bg: hsl(0deg 6% 82%);
    --theme-selection-indicator-color: hsl(26deg 99% 38%);
    --calc-display-bg: hsl(0deg 0% 93%);

    --calc-btns-bg: hsl(0deg 6% 82%);

    --calc-btn-bg: hsl(32deg 26% 89%);
    --calc-btn-border: hsl(16deg 10% 63%);
    --calc-btn-color: hsl(231deg 11% 34%);
    --calc-secondary-btns-bg: hsl(184deg 42% 37%);
    --calc-secondary-btns-border: hsl(186deg 58% 25%);
    --calc-btn-equalTo-bg: hsl(25deg 99% 39%);
    --calc-btn-equalTo-border: hsl(25deg 100% 27%);
  }
} */
